.p-post {
	border:4px solid #108896;
	padding:20px;
  padding: 0;
  border-radius:5px;
  max-width:900px;
  margin-top:30px;
}
.p-post-title {
	background:#108896;
	color:white;
	padding:15px;
  font-weight:600;
}
.p-post-content {
	padding:15px;
  background:rgba(256,256,256,0.4);
}
.posts-container {
  max-width:900px;
  min-width:500px;
  margin:0 auto;
  text-align:left;
}
.margin {
  margin-bottom:20px;
}
article {
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;
}