<style>
	body {
		font-family:'Raleway';
	}
	.m {
		box-sizing:border-box;
		padding:20px;
		margin:10px;
		width:100%;
	}
	.program {
		color:white;
		border-radius:6px;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	}
	.frc {
		background:#1e3e71;
	}
	.fll {
		background:#c52128;
	}
	.ftc {
		background:#e4b320;
	}