<style>
	body {
		font-family:"Raleway";
	}
	h2, h3 {
		padding:0;
		margin:0;
	}
	.m {
		box-sizing:border-box;
		padding:20px;
	}
	.program {
		padding:10px 20px 10px 20px;
		margin:20px;
		width:calc(100% - 40px);
		box-sizing:border-box;
		color:white;
		border-radius:6px;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
		overflow:auto;
	}
	.program-mini {
	    padding: 10px;
	    margin: -10px 20px 18px 20px;
	    width: calc(100% - 120px);
	    margin-left: 100px;
	}
	.left {
		float:left;
		display:inline;
	}
	.right {
		float:right;
		display:inline;
		opacity: 0.6;
	}
	.frc {
		background:#1e3e71;
	}
	.fll {
		background:#c52128;
	}
	.ftc {
		background:#e4b320;
	}