---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <h1 class="title">Mythical Robotics</h1>
    <div class="row">
      <div class="col-sm-8 m"> 
        <a href="http://2491nomythic.com "><div class="program frc"><h2 class="left">2491 No Mythic</h2><h2 class="right">FRC</h2></div></a>
        <a href="{{ site.baseurl }}/ftc"><div class="program ftc"><h2 class="left">9459 Mythic</h2><h2 class="right">FTC</h2></div></a>
        <a href="{{ site.baseurl }}/fll"><div class="program fll"><h2 class="left">FIRST Lego League</h2></div></a>
        <a href="{{ site.baseurl }}/fll/team"><div class="program program-mini fll"><h4 class="left">#### Team Athena</h4><h4 class="right">FLL</h4></div></a>
        <a href="{{ site.baseurl }}/fll/team"><div class="program program-mini fll"><h4 class="left">#### Team 1</h4><h4 class="right">FLL</h4></div></a>
        <a href="{{ site.baseurl }}/fll/team"><div class="program program-mini fll"><h4 class="left">#### Team 2</h4><h4 class="right">FLL</h4></div></a>
        <a href="{{ site.baseurl }}/fll/team"><div class="program program-mini fll"><h4 class="left">#### Varsity Team</h4><h4 class="right">FLL</h4></div></a>
        <a href="{{ site.baseurl }}/fll/team"><div class="program program-mini fll"><h4 class="left">#### Avalon Team</h4><h4 class="right">FLL</h4></div></a>
      </div>
      <div class="col-sm-4 m">
      	<h2>Updates</h2>
        {{ content }}
      </div>
    </div>
    <div id="footer">
    	<div class="row">
    		<div class="col-sm-4 c m">
    			<h3>Who Are We?</h3>
				<i class="fa fa-question fa-5x fa-border l"></i>
    			<p>{{ site.description }}</p>
    		</div>
    		<div class="col-sm-4 c m">
    			<h3>Contact Us</h3>
    			<i class="fa fa-phone fa-5x fa-border l"></i>
    			<p>Email: 2491nomythic@gmail.com</p>
    		</div>
    		<div class="col-sm-4 c m">
    			<h3>Get Involved</h3>
    			<i class="fa fa-users fa-4x fa-border l x"></i>
    			<p>For more information about how to get involved with a Mythical Robotics team, please visit <a href="{{ site.baseurl }}/get-involved">our "Get Involved" page</a>.</p>
    		</div>
    </div>
</html>
